<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.strartupatx">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StrartUpAtx"
        tools:targetApi="31">
        <activity
            android:name="in.macrocodes.onlineauctionapp.PathUtilvideo"
            android:exported="false" />
        <activity
            android:name="in.macrocodes.onlineauctionapp.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="in.macrocodes.onlineauctionapp.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="in.macrocodes.onlineauctionapp.ProductInfoActivity"
            android:exported="false" />
        <activity
            android:name="in.macrocodes.onlineauctionapp.MyCampaigns"
            android:exported="false" />
        <activity
            android:name="in.macrocodes.onlineauctionapp.LoginActivity"
            android:exported="false" />
        <activity
            android:name="in.macrocodes.onlineauctionapp.HomeActivity"
            android:exported="false" />
        <activity
            android:name="in.macrocodes.onlineauctionapp.addProductforBid"
            android:exported="false" />
        <activity
            android:name="in.macrocodes.onlineauctionapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>